<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Officeman</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li{% if page_id == 'calendar' %} class="active"{% endif %}><a href="/"><i class="fa fa-calendar"></i> Fristen</a></li>
        <li{% if page_id == 'clients' %} class="active"{% endif %}><a href="/clients"><i class="fa fa-user"></i> Klienten</a></li>
        <li{% if page_id == 'documents' %} class="active"{% endif %}><a href="/documents"><i class="fa fa-file-text"></i> Dokumente</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Version {{ version }}</a></li>
      </ul>
    </div>
  </div>
</nav>
